/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
}

/* Global styles for body and text */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/james-kovin-gOJMw_EUlWw-unsplash.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-attachment: fixed;
    color: white; 
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black; 
    color: white;
}

.logo {
    font-size: 24px;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Hero section styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(66, 66, 66, 0.479), rgba(0, 0, 0, 0.74)), url("");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .no-bullet {
    list-style-type: none;
}

/* Main content section styles */
.main {
    padding: 20px;
    color: white; 
}

main h1, main h3 {
    background: rgba(128, 128, 128, 0.5); 
    display: inline; 
    padding: 5px; 
    color: white; 
}

/* Images and text insida info */
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

/* Signup section styles */
.signup-section {
    background-color: #f2f2f200;
    padding: 20px;
}

.signup-container {
    max-width: 500px; 
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

#signup-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000; 
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #000000;
}

/* images and text in index */

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black; 
    color: white; 
    text-align: center;
    font-size: 14px;
}

footer i {
    color: #ffffff;
}

footer a {
    margin-right: 20px;
}